JDOPSTest/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
JDOPSTest/obj/Debug/net8.0/JDOPSTest.AssemblyInfo.cs
JDOPSTest/obj/Debug/net8.0/JDOPSTest.AssemblyInfoInputs.cache
JDOPSTest/obj/Debug/net8.0/JDOPSTest.assets.cache
JDOPSTest/obj/Debug/net8.0/JDOPSTest.csproj.AssemblyReference.cache
JDOPSTest/obj/Debug/net8.0/JDOPSTest.GeneratedMSBuildEditorConfig.editorconfig
JDOPSTest/obj/Debug/net8.0/JDOPSTest.GlobalUsings.g.cs
JDOPSTest/obj/JDOPSTest.csproj.nuget.dgspec.json
JDOPSTest/obj/JDOPSTest.csproj.nuget.g.props
JDOPSTest/obj/JDOPSTest.csproj.nuget.g.targets
JDOPSTest/obj/project.assets.json
JDOPSTest/obj/project.nuget.cache
